table.jokestable tr td p.text {
  text-align: left;
  width: 100%;
}

table.jokestable tr th {
  font-size: 30px;
  padding-bottom: 20px;
}

div.floatButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

div.floatButton button {
  width: 62px;
  height: 62px;
  font-size: 18px;
  border-radius: 50%;
  border: none;
  background-color:#0C9;
  color: #fff;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
}
