/*Tabella barzellette*/
table.jokestable {
    margin: 20px 3% 3% 3%;
    width: 94%;
}

table.jokestable tr td {
    /* border: 1px solid #000; */
    background-color: #333;
    color: #fff;
    padding: 20px;
}

table.jokestable tr td p.author {
    float: right;
}
