/* div.content {
    
} */

table.categoriestable {
    margin: 20px 0 5% 5%;
    width: 80%;
}

td.categoriestitle {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
}

.img {
    background-image: url("../img/bg_home.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 0 300px 0;
}

/*Tabella barzellette*/
table.jokestable {
    margin: 20px;
}

table.jokestable tr td {
    /* border: 1px solid #000; */
    background-color: #333;
    color: #fff;
    padding: 20px;
}

table.jokestable tr td p.author {
    float: right;
}