/*Tabella barzellette*/
table.jokestable {
    margin: 20px 3% 3% 3%;
    width: 94%;
}

table.jokestable tr td.spacer {
  height: 15px;
  background-color: transparent;
}


table.jokestable tr td {
    /* border: 1px solid #000; */
    background-color: #333;
    color: #fff;
}

table.jokestable tr td p.author {
    float: right;
    padding: 10px 20px 10px 0px;
}

table.jokestable tr td p.text {
    padding: 20px 20px 0 20px;
}

table.jokestable tr td div.jokeinfo {
  width: 100%;
  background-color: #000;
  text-align: right;
  overflow: hidden;
  /* float: left; */
}

table.jokestable tr td div.jokeinfo img.like,
table.jokestable tr td div.jokeinfo img.unlike,
table.jokestable tr td div.jokeinfo span.like,
table.jokestable tr td div.jokeinfo span.unlike {
  float: right;
}

table.jokestable tr td div.jokeinfo img.like,
table.jokestable tr td div.jokeinfo img.unlike {
  -webkit-filter: invert(100%);
  height: 28px;
}

table.jokestable tr td div.jokeinfo span.like,
table.jokestable tr td div.jokeinfo span.unlike {
  height: 32px;
  /* vertical-align: middle; */
  line-height: 32px;
}

table.jokestable tr td div.jokeinfo img.unlike {
  margin: 2px 5px 0 20px;
}

table.jokestable tr td div.jokeinfo span.unlike {
  margin-right: 10px;
}

table.jokestable tr td div.jokeinfo img.like {
  margin: 2px 5px 0 0;
}

table.jokestable tr td div.info {
  width: 32px;
  height: 32px;
  background-color: blue;
  float: right;
  text-align: center;
}

table.jokestable tr td div.info i {
  line-height: 32px;
  color: #fff;
  width: 32px;
}
