/*Tabella barzellette*/
table.jokestable {
    margin: 20px 3% 3% 3%;
    width: 94%;
}

table.jokestable tr td.spacer {
  height: 25px;
  background-color: transparent;
}


table.jokestable tr td {
    /* border: 1px solid #000; */
    background-color: #333;
    color: #fff;
    border-radius: 2px;
}

table.jokestable tr td p.author {
    float: right;
    padding: 10px 20px 10px 0px;
}

table.jokestable tr td p.text {
    padding: 20px 20px 0 20px;
}

table.jokestable tr td p.text a {
  color: #0cf;
}

table.jokestable tr td div.jokeinfo {
  width: 100%;
  /* background-color: #000; */
  text-align: right;
  /* overflow: hidden; */
  /* float: left; */
  height: 0;
  margin-top: 20px;
}

table.jokestable tr td div.jokeinfo span.like,
table.jokestable tr td div.jokeinfo span.unlike,
table.jokestable tr td div.jokeinfo button {
  float: right;
}

table.jokestable tr td div.jokeinfo span.like,
table.jokestable tr td div.jokeinfo span.unlike {
  height: 32px;
  line-height: 32px;
  padding: 0 0 0 5px;
}

/* Impostazioni generali bottoni like e unlike */
table.jokestable tr td div.jokeinfo button i.like,
table.jokestable tr td div.jokeinfo button i.unlike,
table.jokestable tr td div.jokeinfo button i.edit,
table.jokestable tr td div.jokeinfo button i.delete {
  color: #fff;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
}

table.jokestable tr td div.jokeinfo button.like {
  background-color: #00f;
  padding: 0 10px 0 10px;
  margin-left: 15px;
}

table.jokestable tr td div.jokeinfo button.unlike {
  background-color: #f00;
  padding: 0 10px 0 10px;
  margin-left: 15px;
}

table.jokestable tr td div.jokeinfo button.edit {
  background-color: #f60;
  padding: 0 10px 0 10px;
  margin-left: 15px;
}

table.jokestable tr td div.jokeinfo button.delete {
  background-color: #f00;
  padding: 0 10px 0 10px;
  margin-left: 15px;
}

table.jokestable tr td div.info {
  float: right;
  background-color: #000;
  margin: 0 15px 0 15px;
}

table.jokestable tr td div.info a i {
  color: #fff;
  line-height: 32px;
  font-size: 18px;
}

table.jokestable tr td div.jokeinfo button {
  background-color: #000;
  border-width: 0;
}

.float{
	position:relative;
	width:32px;
	height:32px;
	bottom:-16px;
	color:#FFF;
	border-radius:16px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.floatWithText{
	position:relative;
	/* width:32px; */
	height:32px;
	bottom:-16px;
	/* right:40px; */
	color:#FFF;
	border-radius:16px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
}
