h2 {
  margin-top: 100px;
}

p.error_msg {
  background-color: #f00;
  margin: 20px auto 20px auto;
  width: 50%;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
  color: #fff;
}

input {
  margin: 10px auto 10px auto;
}

input[type=submit] {
  margin-bottom: 100px;
  padding: 8px;
  color: #fff;
  background-color: #333;
  border-radius: 2px;
  border-width: 0;
}

/* @media screen and (max-width:) */
