@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ddd;
}

div.sidebar {
    float: left;
    width: 20%;
}

div.content {
    float: right;
    width: 80%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #4f4fff;
}

ul.navbar li.login,
ul.navbar li.singup {
  float: right;
}

div#navbar {
    border-bottom: 5px solid #4f4fff;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
}

li.searchbar {
  float: right !important;
}

li.searchbar input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/ic_search_black_24dp_1x.png');
    /* background-position: 10px 10px; */
    background-size: contain;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    /* vertical-align: middle; */
    margin: 5px 20px 5px 0;
}

li.searchbar input[type=text]::after {
  content: "&#xE8B6;";
}

li.searchbar input[type=text]:focus {
    width: 300px;
}

/* Nasconde la freccia del datalist */
li.searchbar input[type=text]::-webkit-calendar-picker-indicator {
    display: none;
}

table.categoriestable {
    margin: 20px 0 5% 5%;
    width: 95%;
    border-collapse: collapse;
}

td.categoriestitle {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
    border-radius: 2px 2px 0 0;
}

td.categoriesname {
  background-color: #fff;
  padding: 7px 10px;
}

td.categoriesname a {
  text-decoration: none;
  color: #000;
}

td.categoriesname a:hover {
  text-decoration: none;
  color: blue;
}

div.img {
    background-image: url("../img/bg_home.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -30px;
    padding: 150px 0 150px 0;
    text-align: center;
}

div.img p {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
  /* border: 1px solid #fff; */
  color: #eee;
  text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}

div.footer {
  clear: both;
}

@media screen and (max-width:700px) {
    div.sidebar {
        float: none;
        width: 100%;
    }

    table.categoriestable {
        margin: 20px 5% 5% 5%;
        width: 90%;
    }

    div.content {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width:650px) {
  li.searchbar {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width:540px) {
  li.searchbar input[type=text]:focus {
      width: auto;
  }
}

@media screen and (max-width:320px) {
    div.sidebar {
        float: none;
        display: none;
    }

    div.content {
        float: none;
        width: 100%;
    }

    ul.navbar li {
        width: 100%;
    }
}
