@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ddd;
}

div.sidebar {
    float: left;
    width: 20%;
}

div.content {
    float: right;
    width: 80%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #4f4fff;
}

div#navbar {
    border-bottom: 5px solid #4f4fff;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
}

table.categoriestable {
    margin: 20px 0 5% 5%;
    width: 95%;
}

td.categoriestitle {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
}

div.img {
    background-image: url("../img/bg_home.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -30px;
    padding: 150px 0 150px 0;
    text-align: center;
}

div.img p {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
  /* border: 1px solid #fff; */
  color: #eee;
  text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}

@media screen and (max-width:700px) {
    div.sidebar {
        float: none;
        width: 100%;
    }

    table.categoriestable {
        margin: 20px 5% 5% 5%;
        width: 90%;
    }

    div.content {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width:300px) {
    div.sidebar {
        float: none;
        display: none;
    }

    div.content {
        float: none;
        width: 100%;
    }

    ul.navbar li {
        width: 100%;
    }
}
